<!-- app.component.html -->

<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_icon" routerLink="/">
        <mat-icon>menu</mat-icon>
      </div>
      <div routerLink="/" class="header_menu_item">Home</div>
      <div routerLink="/" routerLink="/business-plans" class="header_menu_item">Business Plans</div>
      <div routerLink="/" routerLink="/home-plans" class="header_menu_item">Home Plans</div>
      <div routerLink="/" routerLink="/authentication/login" class="header_menu_item">OTT</div>
      <div routerLink="/" routerLink="/authentication/login" class="header_menu_item">DTH</div>
      <!-- <div routerLink="/" routerLink="/authentication/login" class="header_menu_item">About Us</div>
      <div routerLink="/" routerLink="/authentication/login" class="header_menu_item">Contact</div> -->
      
      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input" placeholder="Search">
        <div class="header_menu_searchbar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <div routerLink="/authentication/login" class="header_menu_signin">
        <span class="header_menu_top_item">Hello, Sign in</span>
        <span class="header_menu_bottom_item">Accounts</span>
      </div>
      <div routerLink="/login" class="header_menu_signin">
        <span class="header_menu_top_item">Offers</span>
        <span class="header_menu_bottom_item">& Orders</span>
        
      </div>
      <a routerLink="/authentication/register">
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>
  </nav>
</div>
