<!-- app.component.html -->

<div class="header">
  <nav class="header_top">
    <div class="header_menu">
      <div class="header_menu_icon" routerLink="/">
        <mat-icon>menu</mat-icon>
      </div>
      <div routerLink="/" class="header_menu_item">PREPAID</div>
      <div routerLink="/" class="header_menu_item">POSTPAID</div>
      <div routerLink="/" class="header_menu_item">BROADBAND</div>
      <div routerLink="/" class="header_menu_item">DTH</div>
      <div routerLink="/" class="header_menu_item">BANK</div>
      <div routerLink="/" class="header_menu_item">HELP</div>
      <div routerLink="/" class="header_menu_item">HELP</div>
      <div routerLink="/" class="header_menu_item">HELP</div>
      <div routerLink="/" class="header_menu_item">HELP</div>
      
      <div routerLink="/" class="header_menu_item">HELP</div>
      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input" placeholder="Search">
        <div class="header_menu_searchbar_icon">
          <mat-icon>search</mat-icon>
        </div>
      </div>
      <div routerLink="/authentication/login" class="header_menu_signin">
        <span class="header_menu_top_item">Hello, Sign in</span>
        <span class="header_menu_bottom_item">Accounts</span>
      </div>
      <div routerLink="/login" class="header_menu_signin">
        <span class="header_menu_top_item">Offers</span>
        <span class="header_menu_bottom_item">& Orders</span>
        
      </div>
      <div>
        <mat-icon>account_circle</mat-icon>
      </div>
    </div>
  </nav>
</div>
