/* app.component.scss */

.header {
  position: sticky;
  z-index: 100;
  top: 0;
}

.header_top {
  height: 60px;
  background-color: #000000;
  font-size: 14px;
  display: flex;
  color: white;
  padding: 8px;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header_menu_icon > mat-icon {
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.header_menu_item {
  margin: 0 8px;
  cursor: pointer;
}

.header_menu_searchbar {
  display: flex;
  align-items: center;
}

.header_menu_input {
  height: 30px;
  padding: 8px;
  flex-grow: 1;
  border: none;
}

.header_menu_searchbar_icon {
  background-color: #febd69;
  height: 30px;
  width: 30px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header_menu_signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  cursor: pointer;
}

.header_menu_top_item {
  font-size: 12px;
  color: lightgray;
}

.header_menu_bottom_item {
  font-size: 14px;
  font-weight: 800;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 1200px) {
  .header_menu_icon > mat-icon {
    font-size: 24px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .header_menu_item {
    margin: 0 4px;
  }
}

@media only screen and (max-width: 992px) {
  .header_menu_icon > mat-icon {
    font-size: 20px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .header_menu_item {
    margin: 0 3px;
  }
}

@media only screen and (max-width: 768px) {
  

  .header_menu_icon > mat-icon {
    display: none;
  }

  .header_menu {
    display: none;
  }

  .header_menu_item {
    display: none;
  }

  .header_menu_searchbar {
    display: none;
  }

  .header_menu_input {
    display: none;
  }

  /* Add styles for the side navigation */
  .side_nav {
    display: none;
  }

  .side_nav .header_menu {
    display: none;
  }
}