<div class="main">
  <div class="sign-up-wrapper">
    <div class="form-header">
      <mat-icon class="lock">lock_open</mat-icon>
      <h1>Sign Up</h1>
    </div>

    <form [formGroup]="signUpForm" (ngSubmit)="signUpClickHandler()">
      <!-- Email Address -->
      <div>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Email Address</mat-label>
          <input type="email" matInput formControlName="email" />
          <mat-icon
            class="error-icon"
            matSuffix
            [ngStyle]="(getControl('email')?.dirty || getControl('email')?.touched) &&
              (getControl('email')?.hasError('required') || getControl('email')?.hasError('pattern')) ?
              {'visibility': 'visible'} : {'visibility': 'hidden'}"
            [matTooltip]="getControl('email')?.hasError('required') ? 'Email field is required' :
              (!getControl('email')?.hasError('required') && getControl('email')?.hasError('pattern')) ?
              'Please write a valid email' : ''">
            info
          </mat-icon>
        </mat-form-field>
      </div>

      <!-- New Password -->
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>New Password</mat-label>
          <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="newPassword" />
          <mat-icon
            matSuffix
            class="passwordIcon"
            (click)="showPassword = !showPassword"
            [matTooltip]="showPassword ? 'Hide password' : 'Show password'">
            {{ !showPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-icon
            class="error-icon"
            matSuffix
            [ngStyle]="(getControl('newPassword')?.dirty || getControl('newPassword')?.touched) &&
            (getControl('newPassword')?.hasError('required') || getControl('newPassword')?.hasError('minlength')) ?
            {'visibility': 'visible'} : {'visibility': 'hidden'}"
            [matTooltip]="getControl('newPassword')?.hasError('required') ? 'Password field is required' :
              getControl('newPassword')?.hasError('minlength') ?
              'Password must be at least 8 characters long' : ''">
            info
          </mat-icon>
        </mat-form-field>
      </div>

      <!-- Confirmation Password -->
      <div>
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Confirmation Password</mat-label>
          <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="confirmationPassword" />
          <mat-icon
            matSuffix
            class="passwordIcon"
            (click)="showPassword = !showPassword"
            [matTooltip]="showPassword ? 'Hide password' : 'Show password'">
            {{ !showPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-icon
            class="error-icon"
            matSuffix
            [ngStyle]="(getControl('confirmationPassword')?.dirty || getControl('confirmationPassword')?.touched) &&
            getControl('confirmationPassword')?.hasError('required') ? {'visibility': 'visible'} : {'visibility': 'hidden'}"
            [matTooltip]="getControl('confirmationPassword')?.hasError('required') ? 'Confirmation Password field is required' : ''">
            info
          </mat-icon>
        </mat-form-field>
      </div>

      <div>
        <button type="submit" mat-flat-button color="primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>
