<!-- set-password.component.html -->

<mat-card class="example-card">
    <mat-card-title>Create your new password</mat-card-title>
    <mat-card-content>
        <form class="flex-form" [formGroup]="thirdFormGroup">
            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput color="primary" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="thirdFormGroup.get('password')?.invalid">The password you entered is invalid</mat-error>
            </mat-form-field>
        </form>

        <mat-list>
            <!-- Password strength indicators -->
        </mat-list>
        <br>
        <p>Make sure it isn’t based on your name or birthday.</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button (click)="back()">Go back</button>
        <button mat-flat-button color="primary" [disabled]="thirdFormGroup.invalid" (click)="resetPassword()">Reset password</button>
    </mat-card-actions>
</mat-card>
