<button (click)="showplan()" class="mat-raised-button show-button text-center">View My Plan</button>
<div *ngIf="view" class="card-container" >
    <mat-card class="custom-card">
      <div class="plan-header" style="background: linear-gradient(to right,  #03a9f4,#03a9f4 ); ">
        <h2>My Plan</h2>
      </div>

      <mat-list>
        <mat-list-item>
        {{planDetails?.plan_name}}
      </mat-list-item>
        <mat-list-item>
          <strong>{{planDetails?.billing_cycle}}</strong>
        </mat-list-item>
        <hr/>
        <mat-list-item>
          <strong>Speed</strong> 
        </mat-list-item>
        <mat-list-item>
          <strong>{{planDetails?.plan_speed}}</strong>   
        </mat-list-item>
        
       
        <hr/>
        <!-- <mat-list-item>
          <strong>Calls</strong> 
        </mat-list-item>
        <br/>
        <mat-list-item>
          <strong></strong> Unlimited
        </mat-list-item>
        <br/>
        <mat-divider></mat-divider> -->
        
        <div class="plan-footer">
          <span class="cost">{{planDetails?.plan_price}}</span>
          <button mat-raised-button color="primary" class="custom-button" style="color: white;" (click)="UChange()">Change/Add</button>
          
          <button mat-raised-button color="primary" class="custom-button" style="color: white;" (click)="UnSubToggle()">Unsubscribe</button>
        </div>
      </mat-list>
    </mat-card>
  </div>

  <div class="WholePage" *ngIf="USsure">
    <div class="editShowCss">
    <h2 style="color: white;">Are You Sure?</h2>
    <div style="display: flex;" class="button"><button (click)="unsub()">Yes</button> <button (click)="UnSubToggle()">No</button></div>
    </div>
  </div>


  <div class="WholePage" *ngIf="USchange">
    <div class="editShowCss">
    
    <h2 style="color: white;">Are You Sure to change or add?</h2>
    <div style="display: flex;" class="button"><button>Yes</button> <button (click)="UChange()">No</button></div>
    </div>
  </div>

