<p>loginnnnnnnnnnnnn works!</p>

<!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <label for="std_id">Student ID:</label>
    <input type="number" id="std_id" formControlName="std_id" />
  
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" />
  
    <label for="age">Age:</label>
    <input type="number" id="age" formControlName="age" />
  
    <label for="address">Address:</label>
    <input type="text" id="address" formControlName="address" />
  
    <button type="submit">Submit</button>
  </form>
   -->