*{
    top: 0;
    bottom: 0;
}



/* .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
   */

   /* .example-card {
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(178, 241, 32, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color:;
} */

.example-card {
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    background-color: #03a9f4;
    border-radius: 10px;
    
}

.example-card:hover {
    box-shadow: 0 16px 30px rgba(18, 15, 18, 0.2);
}

/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 100px; /* Adjust the height based on your design 
    border-radius: 0%; 
} */

.example-header-image {
   background-image: url('https://freesvg.org/img/abstract-user-flat-4.png');
    background-size: cover;
    background-position: center; /* Center the background image */
    height: 50px; /* Adjust the height based on your design */
    border-radius: 40%; /* Make it a circle */
    overflow: hidden; /* Ensure the image stays within the circle */
    display: flex;
    align-items: center;
    justify-content: center;
}


mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
}

mat-card-subtitle {
    color: #555;
}

mat-card-image {
    max-height: 200px; /* Adjust the max height based on your design */
    object-fit: cover;
}

mat-card-content {
    padding: 15px;
}

hr {
    border: 0.5px solid #ddd;
}

label {
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 3px;
}

.button:hover {
    background-color: #01579b;
}


.cancel {
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 3px;
}

.cancel:hover {
    background-color: #01579b;
}



.editShowCss{
    border-radius: 10px;
    padding: 20px;
    border: solid 2px black;
    background-color:#01579b;
    color: black;
    
}
.WholePage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.0x1); /* Transparent background */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in-out forwards;
}





 
