<body>
  <div class="container">
      <div class="carousel">
          <figure>
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
              <img src="https://jep-asset.akamaized.net/cms/assets/jiofiber/apps/jiophotos/JioPhotosLandingPageThumbnail.png">
          </figure>
      </div>
  </div>
</body>