/* Import rules come first */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');



parent {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.main{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet');
:root{
    --mdc-theme-error: #B00020;
    --mdc-outlined-card-outline-width:2px;
}
.wrap-login{
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #EFEFEF;
    margin: 0 auto;
}
.container{
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    max-width: 768px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    height: calc(100% - (65px + 65px));
    justify-content: center;
    align-items: center;
}
.login-box{
    display: flex;
    justify-content: center;
    width: 328px;
    border-color: inherit;
    box-shadow: inherit;
    /* height: 100vh; */
}
.login-box mat-card-header {
    width: 128px;
    height: 128px;
    padding: 0;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.login-box mat-card-header img{
    width: 128px;
    height: 128px;
    border-radius: inherit;
}
.mat-mdc-card-content {
    padding:0;
}
.login-box mat-form-field{
    border-color: #0000001F !important;
    border-radius: 4px;
}
.mdc-text-field--invalid .mdc-text-field__input,.mdc-text-field .mdc-text-field__input,.form-field{
    caret-color: #B00020!important;
}
.form-field{
    font-size: 16px;
    letter-spacing: 0.15px!important;
    color: #000000BC!important;
}
.mat-mdc-form-field-error-wrapper{
    height: 18px;
}
.login-box mat-label,.mat-mdc-form-field-error{
    color: #B00020 !important;
}
mat-form-field {
    width: 100%;
}
.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #B00020;
    text-align: left;
    font-family: 'Roboto';
    letter-spacing: 0.15px;
    border: 2px solid #B00020;
}
.mdc-text-field--focused{
    border: 2px solid #B00020;
}
.login-box .mat-form-field-invalid .mat-form-field-outline{
    border-color: #B00020 !important;
}
.mdc-card__actions{
    padding: 0;
    min-height: 36px; 
}
.mat-mdc-raised-button:not(:disabled){
    background-color: #C3001E;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    width: 98px;
    text-align: left;
    font-family: Roboto, Medium;
    letter-spacing: 1.25px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
}
mat-form-field .form-field{
    color: #000000BC !important;
}
mat-card-actions {
    display: flex;
    justify-content: flex-end;
}
@media(max-width:768px) {
    .wrap-login{
        background: #EFEFEF;
        padding: 0 30px;
    }
    .container{
        background: #FFFFFF;
        height: auto;
        padding:22px 21px;
        width: auto;
        max-width: inherit;
    }
}
@media(max-width:430px) {
    .container{
        background: #FFFFFF;
        box-shadow: inherit;  
        display: block;
        justify-content: inherit;
        align-items: inherit;
    }
    .login-box{
        width: 100%;
    }
}
  
  
  